extends layout
block content
  .container.intro-med
    div(class='row')
    -for(var i=0; i<aseo.length; ++i){
      .col-sm-6.item-med
        h4=aseo[i].nombre
        img(src="img/hogar/#{aseo[i].imagen}", width="200")
        p="Descripción: " + aseo[i].descripcion
        strong="$"+aseo[i].precio
        div.container-btn
          a.button.btn-edit(href="#")
            i.fa.fa-pencil-square-o(aria-hidden="true")
          a.button.btn-delete(href="#")
            i.fa.fa-trash(aria-hidden="true")
    -}
